@import "tailwindcss";

.text-primary {
    @apply text-blue-200;
}
.text-secondary {
    @apply text-neutral-200;
}

.border-primary {
    @apply text-blue-200;
}
.border-secondary {
    @apply border-neutral-200;
}

.bg-primary {
    @apply bg-blue-200;
}
.bg-secondary {
    @apply bg-neutral-900;
}

/* Animation slide down */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Animation slide up */
@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.menu-enter {
  animation: slideDown 0.3s ease-out forwards;
}

.menu-exit {
  animation: slideUp 0.3s ease-in forwards;
}